{% extends 'layout.html' %}
{% block title %} NinerStudy | About Us {% endblock %}
{% block body %}
<h1 class="text-center"><font color= white>.......</font></h1>
    <h1 class="text-center">About Us</h1>
    <h2 class="text-center w-60">To create a website with resources and algorithms to find help others find activities, skills, and careers in their discipline.
        It is a resource that helps students learn new skills and improve AI algorithm.
         It is a site that is focused mainly on building a final resume when students are ready to job hunt.<a href="https://www.charlotte.edu/"> University of North Carolina at Charlotte</a></h2>
          
          <h1 class="text-center"><font color= white>......</font></h1>
    <h1 class="text-center">Team Members</h1>

    <ul class="list-group">
        <li class="text-center list-group-item">Cristian Garcia Flores</li>
        <li class="text-center list-group-item">Fadi Nasr</li>
        <li class="text-center list-group-item">Chris Pitre</li>
        <li class="text-center list-group-item">Zach Sanford</li>
        <li class="text-center list-group-item">Khai Tha</li>
      </ul>        
{% endblock %}
