<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

{% block title %}NinerStudy | Forum{% endblock %}
<div class="container pt-4">
{% block body %}

<div class="card mb-3" style="max-width: 100%;">
    <div class="card-header text-white" style="background-color: #005035;">
        <h5 class="card-title text-white text-center">Card title</h5>
    </div>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.britannica.com/55/174255-050-526314B6/brown-Guernsey-cow.jpg" class="img-fluid img-thumbnail" alt="cow">
      </div>
      <div class="col-md-8">
        
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          <a href="#" class="btn text-white" style="background-color: #005035">See Replies</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</div>